<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>
    <h1>소나무언어프로그램</h1>
    <h4>소나무언어와 Solidity언어간의 번역이 가능한 프로그램입니다.</h4>
    <p>개발자 : 박정필, 현상혁, 정지은</p>
    <div class="file">
        <h2>코드 불러오기 & 저장하기</h2>
        <input id="openCode" type="file" accept=".sol, .sonamu"/>
        <input id="fileName" placeholder="다운 받을 파일 이름 지정" />
        <button id="saveCode">번역 결과 다운로드</button>
    </div>
    <div style="width: 48%; height:700px; float: left;">
        <h2>번역할 코드</h2>
        <form th:action="@{/translate}" method="post">
            <input type="radio" name="typeOfCode" value="sonamu" th:checked="${sourceType eq 'sonamu'}">소나무
            <input type="radio" name="typeOfCode" value="solidity" th:checked="${sourceType eq 'solidity'}">Solidity
            <p><textarea type="text" name = "code" placeholder = "번역할 코드를 입력하세요. " th:utext="${source}" id="inputText"></textarea></p>
            <button type="submit" id="translate">번역하기</button>
        </form>
    </div>

    <div style="width: 48%; height:700px; float: right;">
        <h2>번역된 코드</h2>
        <form>
            <p><textarea type="text" placeholder = "결과" id="outputText" th:text="${target}" readonly></textarea></p>
        </form>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/file.js"></script>
</body>
</html>